* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    width: 100vw;
    height: 100vh;
}

.wolf {
    --top: 50vh;
    --left: 50vw;

    top: var(--top);
    left: var(--left);
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.wolf-menu-items {
    position: relative;
    width: 100%;
    height: 100%;
}

.wolf-menu-item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    word-break: keep-all;
    text-align: center;

    position: absolute;
    transform: translate(-50%, -50%);
}

.wolf-menu-item.selected {
    color: rgba(128, 0, 255, var(--alpha, 0));
    font-size: calc(1rem + (var(--alpha) * 0.5rem));
}

.wolf-menu-item.wolf-menu-item-cancel.selected {
    font-size: 1.5rem;
    color: red;
}